.Button {
  background-color: $firstColor;
  border: none;
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  padding: .5rem 2rem;
  transition: background-color .2s ease-in-out;
  &:focus, &:hover {
    background-color: lighten($firstColor, 8%);
    color: white;
  }
  &--success {
    background-color: $thirdColor;
    &:focus, &:hover {
      background-color: lighten($thirdColor, 8%);
    }
  }
  &--danger {
    background-color: $accentColor;
    &:focus, &:hover {
      background-color: lighten($accentColor, 8%);
    }
  }
  &--secundary {
    background-color: $secondColor;
    &:focus, &:hover {
      background-color: lighten($secondColor, 8%);
    }
  }
  &--ghost {
    background-color: transparent;
    border: 1px solid white;
    color: $firstColor;
    &:focus, &:hover {
      background-color: $firstColor;
      color: white;
    }
    &--secundary {
      border-color: $secondColor;
      color: $secondColor;
      &:focus, &:hover {
        background-color: $secondColor;
        color: white;
      }
    }
  }
  &--lg {
    font-size: 1.875rem;
    padding: 1rem 2.5rem;
    @media screen and (max-width: 575px) {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
  &--sm {
    font-size: 1.25rem;
    padding: .5rem 1.5rem;
    @media screen and (max-width: 575px) {
      font-size: 1.125rem;
    }
  }
  &--xs {
    font-size: 1.125rem;
    padding: .3rem 1rem;
    @media screen and (max-width: 575px) {
      font-size: 1rem;
    }
  }
}

.Goto {
  background-color: $accentColor;
  border: none;
  border-radius: .5rem 0 0 .5rem;
  color: white;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  padding: .5rem .8rem;
  position: fixed;
  right: 0;
  top: 50%;
  transform: scale(1);
  transition: transform .3s ease-out;
  [class^="icon-"] {
    font-size: 1.5em;
    margin-right: .5rem;
    vertical-align: middle;
    @media screen and (max-width: 991px) {
      display: block;
      margin-right: 0;
    }
  }
  @media screen and (max-width: 991px) {
    bottom: 0;
    font-size: 1rem;
    padding: .5rem;
    top: auto;
  }
  &:focus, &:hover {
    color: white;
  }
  &:hover {
    transform: scale(1.03);
  }
}
