.Contact__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 0;
  li {
    align-items: center;
    display: flex;
    font-weight: 300;
    list-style: none;
    margin-bottom: 1rem;
    width: 48%;
    i {
      border: 1px solid $accentColor;
      border-radius: 50%;
      color: $accentColor;
      font-size: 1.5rem;
      margin-right: .5rem;
      padding: 1rem;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 1.5rem;
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}
