.Footer {
  background-color: $firstColor;
  margin-top: 3rem;
  padding: 1rem 0;
  p {
    color: white;
    font-size: .875rem;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}
.Footer__logo {
  img {
    @media screen and (max-width: 991px) {
      display: block;
      margin: 0 auto;
    }
  }
}
.Footer__title {
  margin-bottom: 1.25rem;
  @media screen and (max-width: 1199px) {
    font-size: 1.25rem;
  }
}
.Footer__list {
  margin-bottom: 0;
  padding-left: 0;
  li {
    color: white;
    font-size: .875rem;
    list-style: none;
    margin-bottom: .8em;
  }
}
.Footer__social {
  margin-bottom: 0;
  padding-left: 0;
  li {
    display: inline-block;
    list-style: none;
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }
    a {
      background-color: white;
      border-radius: 50%;
      color: $firstColor;
      display: block;
      font-size: 1.5rem;
      height: 50px;
      line-height: 50px;
      transition: background-color .3s ease-out;
      width: 50px;
      &:focus, &:hover {
        background-color: $secondColor;
        color: white;
        text-decoration: none;
      }
    }
  }
}
