.Header {
  background-color: rgba(white, .5);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  transition: padding .2s ease-in, background-color .3s ease-out;
  width: 100%;
  z-index: 999;
  &--black {
    background-color: rgba(black, .3);
    .Header__list {
      li {
        a {
          color: white;
        }
      }
    }
  }
  &--scroll {
    background-color: rgba(black, .3);
    padding: .3rem 0;
    .Header__list {
      li {
        a {
          color: white;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding: .5rem 0;
  }
}
.Header__logo {
  @media screen and (max-width: 767px) and (orientation: portrait) {
    img {
      width: 60%;
    }
  }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    img {
      width: 40%;
    }
  }
}
.Header__nav {
  display: flex;
}
.Header__list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  li {
    font-size: 1.125rem;
    list-style: none;
    margin-right: 1.5rem;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $blackColor;
      &:focus, &:hover {
        color: $accentColor;
        text-decoration: none;
      }
    }
    &.active, &.current-menu-item, &.current-menu-parent {
      font-weight: 700;
      a {
        color: $accentColor;
      }
      .sub-menu {
        li {
          font-weight: 400;
          &.current-menu-item {
            a {
              color: $accentColor;
            }
          }
        }
      }
    }
    &:hover {
      .sub-menu {
        opacity: 1;
      }
    }
  }
  .sub-menu {
    background-color: $firstColor;
    margin-top: 8px;
    opacity: 0;
    padding: .5rem .8rem;
    position: absolute;
    transition: opacity .2s ease-in;
    &::before {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $firstColor;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      top: -8px;
      width: 0;
    }
    li {
      //font-size: 1.25rem;
      margin-bottom: .8rem;
      margin-right: 0;
      width: 100%;
      a {
        color: white;
        &:focus, &:hover {
          color: $accentColor;
        }
      }
      &.active, &.current-menu-item, &.current-menu-parent {
        a {
          color: $accentColor;
        }
      }
    }
  }
}
.Header__bars {
  color: $firstColor;
  cursor: pointer;
  font-size: 3rem;
  @media screen and (max-width: 576px) {
    font-size: 2.5rem;
  }
}
