.Login {
  background: white url('./../images/bg_login.jpg') center 0 no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.Login__header {
  padding: .5rem 0;
}
.Login__logo {
  &--min {
    img {
      width: 10%;
    }
  }
}
