.Page {
  &--bg {
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    &--phrase {
      background-image: url('./../images/bg-phrase.png');
      background-size: contain;
      padding: 5rem 0;
      @media screen and (max-width: 767px) {
        background-size: cover;
      }
    }
  }
}
.Page__phrase {
  h2 {
    color: $blackColor;
    font-size: 3.375rem;
    strong {
      background: transparent url('./../images/separator-big.png') 100% 100% no-repeat;
      background-size: contain;
      font-weight: 700;
      padding-bottom: .5em;
      @media screen and (max-width: 1199px) {
        background-image: none;
      }
    }
    @media screen and (max-width: 1300px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 2.375rem;
    }
  }
}
.Page__phrase__logo {
  margin-right: 20%;
  margin-top: 3rem;
  @media screen and (max-width: 1700px) {
    margin-right: 5%;
  }
}
.Page__project__map {
  height: 400px;
}
.Page__title {
  color: $firstColor;
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-transform: uppercase;
  &::after {
    background: transparent url('./../images/separator.png') center 0 no-repeat;
    content: "";
    display: block;
    height: 13px;
    margin: .5rem auto 0;
    width: 133px;
  }
  &--bgc {
    background-color: $thirdColor;
    color: white;
    padding: 2rem 0;
    &::after {
      display: none;
    }
    @media screen and (max-width: 767px) {
      padding: 1.5rem 0;
    }
  }
  @media screen and (max-width: 767px) {
    font-size: 1.625rem;
  }
}
.Page__subtitle {
  color: $firstColor;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.Page__figure {
  background-color: $thirdColor;
  margin-bottom: 5rem;
  min-height: 25rem;
  position: relative;
  @media screen and (max-width: 1199px) {
    min-height: 20rem;
  }
  @media screen and (max-width: 991px) {
    margin-bottom: 2rem;
    min-height: auto;
  }
}
.Page__header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  .Page__title {
    color: white;
    font-size: 4.75rem;
    font-weight: 700;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px rgba(black, .3);
    &::after {
      background-image: url('./../images/separator-white.png');
      height: 20px;
      width: 189px;
    }
    @media screen and (max-width: 1199px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }
  }
}
.Page__text {
  margin-bottom: 5rem;
  @media screen and (max-width: 991px) {
    margin-bottom: 2rem;
  }
}
.Page__subpage {
  padding: 2rem 0;
}
.Page__project__info {
  justify-content: space-between;
  display: flex;
  margin: 3rem 0;
  padding-left: 0;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
  li {
    list-style: none;
    @media screen and (max-width: 767px) {
      margin-bottom: 1rem;
      width: 50%;
    }
  }
}
.Page__project__nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  a {
    color: $darkColor;
    display: flex;
    align-items: center;
    font-weight: 700;
    [class^="icon-"] {
      font-size: 3rem;
    }
    &:focus, &:hover {
      color: $secondColor;
    }
  }
}
.Page__project__figure {
  &--video {
  }
}
.Page__single__figure {
  margin: 5rem 0;
  @media screen and (max-width: 991px) {
    margin: 2rem 0;
  }
}
