.pagination {
  li {
    background-color: $secondColor;
    border-radius: .5rem;
    font-family: $helveticaLight;
    margin-right: .5rem;
    padding: .5rem .8rem;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: white;
    }
    &.active, &:hover {
      background-color: $firstColor;
      span {
        color: white;
      }
    }
  }
}
