.Sidebar {
  background-color: $firstColor;
  height: 100%;
  left: -100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: left .3s ease-out;
  width: 80%;
  z-index: 999;
  &.active {
    left: 0;
  }
  .Header__nav {
    height: 100%;
  }
  .Header__list {
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    li {
      margin-bottom: 2.5rem;
      margin-right: 0;
      overflow: hidden;
      position: relative;
      text-align: center;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
      &.menu-item-has-children {

      }
      a {
        color: white;
        &:focus, &:hover {
          color: $accentColor;
        }
      }
      &.active, &.current-menu-item, &.current-menu-parent {
        font-weight: 400;
        > a {
          color: $accentColor;
        }
      }
      .Header__list__toggle {
        color: white;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        z-index: 9;
      }
    }
    .sub-menu {
      background-color: $thirdColor;
      display: none;
      position: relative;
      top: -540%;
      transition: opacity .3s ease-in, top .2s ease-in;
      &.active {
        display: block;
        opacity: 1;
        top: 0;
      }
      li {
        margin-bottom: 1rem;
        a {

        }
      }
    }
  }
}
.Sidebar__close {
  color: white;
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 999;
}
