.Table {
  thead {
    th {
      color: black;
      font-family: $helveticaBold;
      font-size: 1rem;
      &.medium {
        min-width: 150px;
      }
      &.large {
        min-width: 250px;
      }
    }
  }
  tbody {
    th, td {
      color: #2b2b2b;
      font-family: $helveticaLight;
      vertical-align: middle;
    }
  }
}
