// Colors:
$firstColor: #fdbf26; // amarillo
$secondColor: #2d3e58; // azul
$thirdColor: #485a76; // lila
$accentColor: #ff6440; // naranja
$darkColor: #222222;
$borderColor: #939292;
$textColor: #8f8f8f;  // gris claro
$bodyBg: #ffffff;
$greenColor: #20ce72;

// Fonts:
$helvetica: 'helvetica', sans-serif;
$helveticaBold: 'helvetica-bold', sans-serif;
$helveticaLight: 'helvetica-light', sans-serif;
$helveticaThin: 'helvetica-thin', sans-serif;
